<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jiawei's Cars Search Online</title>
    <link rel="stylesheet" href="/site.css">
    <script src="/script.js"></script>
</head>

<body>
    <div class="nav">
        <a href="/favouritelist">Favourite List</a>
        <a href="/">Home</a>
       <a href="/stat">Summary Statistics</a>
    </div>

    <div id="divfavorites-list">
      <h2>Favourite List</h2>
      <button id="show-favorites">Show Favourite</button>
    </div>
    <div id="favorites-list"></div>
    <span id="favresult"></span>

</body>

</html>