<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jiawei's Cars Search Online</title>
    <link rel="stylesheet" href="/site.css">
    <script src="/script.js"></script>
</head>

<body>
 <div class="nav">
        <a href="/favouritelist">Favourite List</a>
        <a href="/">Home</a>
       <a href="/stat">Summary Statistics</a>
    </div>

  <div id="summaryContainer">
      <label>Car Year</label>
      <input name="year" id="yearInput">
      <button id="summaryYearButton">Car Year Price Summary</button><br>

      <label>Car Make</label>
      <input name="make" id="carmakeInput">
      <button id="summaryMakeButton"> Car Make Price Summary</button><br>
      <span id="summaryResult"></span>
      <button id="hideSummary">Return</button><br>
    </div>

</body>